.section {
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.header h2 {
  margin: 0;

  font-size: 1.2rem;
  font-weight: 700;
}

.header span {
  color: #2563eb;

  font-size: .95rem;
  font-weight: 600;
}

.grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(220px, 1fr));

  gap: 1.5rem;
}
